body{
    font-family: sans-serif;
    background-color:#ADD8E6;
    
}

table, td, th, tr{
    border: 1px solid darkblue;
    background-color: #ffdc66;
}


#avatar{
    border: 3px dashed black;
}

#main{
    font-family : sans-serif;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	background-color: #ffdb66;
}

#sub{
	float: left;
	border-right: 5px solid black;
}

#sub a{
	display:block ;
	color: blue;
	text-align: center;
	padding: 10px 65px;
	text-decoration:none ;
}

#sub a:link {
	color: none;
}

#sub a:hover {
	background-color: #dab9ff;
}

#sub a:active {
	background-color:#ff8f66 ;
}

.intro{
	padding: 5px 6px 15px 16px;
}



