body{
    font-family: sans-serif;
    background-image: url("images/cool-background.jpg");
    
}

#main{
    font-family : sans-serif;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	background-color: #ffdb66;
}

#sub{
	float: left;
	border-right: 5px solid black;
}

#sub a{
	display:block ;
	color: blue;
	text-align: center;
	padding: 10px 65px;
	text-decoration:none ;
}

#sub a:link {
	color: none;
}

#sub a:hover {
	background-color: #dab9ff;
}

#sub a:active {
	background-color:#ff8f66 ;
}

#scratch{
	background-image:  url("images/yellow.png");
	width: 170px;
}

#reflection{
		background-image:  url("images/yellow1.jpg");	
		width:500px;
		font-weight: bold
}

#Portfolio{
	background-image:  url("images/blue.png");	
	width:300px;
}