body{
    font-family: fantasy;
    background-color:#ADD8E6;
    
}

#main{
    font-family : sans-serif;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	background-color: #ffdb66;
	border: 5px black solid;
}

#sub{
	float: left;
	border-right: 5px solid black;
}

#sub a{
	display:block ;
	color: blue;
	text-align: center;
	padding: 7px 60px;
	text-decoration:none ;
}

#sub a:link {
	color: black;
	text-align: center;
	display: block;
}

#sub a:hover {
	background-color: #dab9ff;
}

#sub a:active {
	background-color:#ff8f66 ;
}